In [197]:
# Load the libraries
import pandas as pd
import numpy as np
from scipy.stats import binom_test

In [2]:
df = pd.read_csv("https://gist.githubusercontent.com/seankross/a412dfbd88b3db70b74b/raw/5f23f993cd87c283ce766e7ac6b329ee7cc2e1d1/mtcars.csv")

In [3]:
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

## z-test

Z-test is a test for the proportions. In other words this is a statistical test that helps us evaluate our beliefs about certain proportions in the population based on the sample at hand. 

In the simplest example involving the data at hand, 
- we can ask the question whether the share of cars with variable “am” being equal to 0 is equal to 50%.


Function used for z-testing is scipy.stats.binom_test. 
- It requires three arguments 
- - x - number of qualified observations in our data (19 in our case) 
- - n - number of total observations (32 in our case)
- - p - the null hypothesis on the share of qualified data (0.5 in our case)

In [28]:
# In order to conduct a test we need our three inputs.
# Nul hypotheses is whether the share of cars with am=0 is equal to 50%. This (0.5 - a share!) is out first input (p).
# The two other inputs are the number of total observations in our dataset (n) and the number of observations satisfying the condition we are testing for [i.e. am=0] (x)
# We can get both of this information by diplaying (not plotting!) a simple frequency distribution of our am variable
# We can do this by using .value_counts() function

In [5]:
df['am'].value_counts()

0    19
1    13
Name: am, dtype: int64

Null Hypo: Claim that the share of cars with am=0 is  50% in the population.

Alternative Hyp: Claim that the share of cars with am=0 is not  50% in the population.

In [47]:
# This shows that x=19.
# By adding all frequencies, we can get the total number of observations in the dataset (n=32)
# Now we are ready to run the test (i.e. calculating the p-value of our test):
print(f'Dividing {19/13}')

print(f'Observed ratio from population {32/19-1}')
alpha = 0.05

Dividing 1.4615384615384615
Observed ratio from population 0.6842105263157894

Output of the test gives rich information about the test:

- It specifies the alternative hypothesis (by default it is set to conduct a two-sided test, so the alternative hypothesis is that the share is not equal to the proportion specified in the null hypotheses. 
- It specifies the confidence level and interval
- However, by default, it only returns the most important piece of information - the p-value of the test

In [164]:
p_val = binom_test(x = 19, n = 32, p = 0.5, alternative="two-sided")#Two sided is default
print(p_val)

0.37708558747544885

In [165]:
def sig_test( P_val, Alpha=0.05):
    print(f'*****With {P_val:.4f} as P and Alpha being {Alpha}*****\n')
    if P_val > Alpha:
        print('Acceptance for Null Hypo!! Go Think again!!, We are with Satus QUO Ho')
    else:
        print('Congrats Aplha was not breached, Your are right, Ha!!')
        
sig_test(p_val,Alpha=0.05)

*****With 0.3771 as P and Alpha being 0.05*****

Acceptance for Null Hypo!! Go Think again!!, We are with Satus QUO Ho

This value can be understood as the probability that we are making a mistake if we reject our null hypothesis in favor of the alternative one. In this case this probability is 38% which is very high (anything above 10% is high), 

which would prompt us to conclude that we do not have enough statistical evidence to claim that the share of cars with am=0 was not 50% in the population.

#### Ha: claim that the share of cars with less than 6 cylinders is not 60%
- Note: P is passed as 0.6

In [122]:
print(df.cyl.value_counts())#x = df[df['cyl']<6]['cyl'].count()
print(f'Observed ratio from population {32/11-1}')
alpha = 0.05

8    14
4    11
6     7
Name: cyl, dtype: int64
Observed ratio from population 1.9090909090909092

In [160]:
# Calculate how many cars in the dataset have less than 6 cylinders
p_value = binom_test(x = 11, n = 32, p = 0.6, alternative="two-sided")#Two sided is default

In [162]:
sig_test(p_value)

print('Accept Ha: Cars with 6 cylinders is not 60%')

*****With 0.0037 as P and Alpha being 0.05*****

Congrats Aplha was not breached, Your are right, Ha!!
Accept Ha: Cars with 6 cylinders is not 60%

In [143]:
''' perform the same test with specifying "less" as an alternative hypothesis'''
Ha = '50% of cars are with less than AM of 0 '
p_value = binom_test(x=19, n=32, p=0.5, alternative="less")
sig_test(p_value)

*****With 0.8923 as P and Alpha being 0.05*****

Acceptance for Null Hypo!! Go Think again!!, We are with Satus QUO Ho

In [147]:
'''perform the test checking whether the share of am=0 cars is less than 0.5'''
AM_Cars = 19
Total = 32
print(f'%Age of AM cars of zero is  {AM_Cars/Total*100:.2f}\n')
p_value = binom_test(x=19, n=32, p=0.5, alternative="less")
sig_test(p_value)

''' We conclude that there is no statistical evidence to go with Assumption that AM cars is less than 50% '''

%Age of AM cars of zero is  59.38

*****With 0.8923 as P and Alpha being 0.05*****

Acceptance for Null Hypo!! Go Think again!!, We are with Satus QUO Ho

' We conclude that there is no statistical evidence to go with Assumption that AM cars is less than 50% '

In [148]:
''' perform the t-test checking whether the share of am=0 cars is greater than 0.5 '''
AM_Cars = 19
Total = 32
print(f'%Age of AM cars of zero is  {AM_Cars/Total*100:.2f}\n')
p_value = binom_test(x=19, n=32, p=0.5, alternative="greater")
sig_test(p_value)

%Age of AM cars of zero is  59.38

*****With 0.1885 as P and Alpha being 0.05*****

Acceptance for Null Hypo!! Go Think again!!, We are with Satus QUO Ho

In [153]:
''' perform the t-test checking whether the share of cars with less than 6 cylinders is greater than 20% '''
LessThan6= 11
Total = 32
print(f'%Age of AM cars of zero is  {LessThan6/Total*100:.2f}\n')
p_value = binom_test(x=11, n=32, p=0.20, alternative="greater")
sig_test(p_value)

'''Emperically we also see that it's 34.38, meaning this is significance!! when compared to 20%.
   Change P to 30 and see if going with emperical data is good way of thinking '''

%Age of AM cars of zero is  34.38

*****With 0.0411 as P and Alpha being 0.05*****

Congrats Aplha was not breached, Your are right, Ha!!

"Emperically we also see that it's 34.38, meaning this is significance!! when compared to 20%.\n   Change P to 30 and see if going with emperical data is good way of thinking "

In [171]:
# Importing packages
import seaborn as sns
from statsmodels.stats.weightstats import DescrStatsW as smstat

# Loading the data
df = sns.load_dataset("iris")

The function we will need is ttest_mean from statsmodels.stats.weightstats.DescrStatsW. This is a two-sided test for the 

- null hypothesis that the expected value (mean) of a sample of independent observations a is equal to the given population mean, popmean.
- It will output 
- - t-statistics, 
- - p-value 
- - and degrees of freedom (in this sequence) as a result.

Except that now, instead of calculating the number of observations qualifying of the test by hand (which we did in case of z-test), we can pass the variable we want to test to the function DescrStatsW and then run the function ttest_mean.

One can also specify the different alternative hypothesis in this check such as, two-sided (default), larger and smaller

In [170]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [178]:
# Perform the two sided t-test on sepal length with null hypotheses of mean being equal to 5.6
# First we need to specify the data and then run the function ttest_mean with the mean we want to check against
t, p, d = smstat(df.sepal_length).ttest_mean(5.6)
sig_test(p)

*****With 0.0004 as P and Alpha being 0.05*****

Congrats Aplha was not breached, Your are right, Ha!!

In [179]:
# Perform the t-test on sepal width with the null hypotheses of mean being equal to 3
t, p, d = smstat(df.sepal_width).ttest_mean(3)
sig_test(p)

*****With 0.1093 as P and Alpha being 0.05*****

Acceptance for Null Hypo!! Go Think again!!, We are with Satus QUO Ho

In [180]:
# Perform the t-test on sepal length with the mean being equal to 5.6 and the alternative hypothesis: the mean of sepal length being greater than null hypothesis
t, p, d = smstat(df.sepal_length).ttest_mean(5.6, alternative = "larger")
sig_test(p)

*****With 0.0002 as P and Alpha being 0.05*****

Congrats Aplha was not breached, Your are right, Ha!!

In [181]:
# Perform the t-test on sepal length with the mean being equal to 5.6 and the alternative hypothesis: the mean of sepal length being smaller than 5.6
t, p, d = smstat(df.sepal_width).ttest_mean(5.6, alternative = "smaller")
sig_test(p)

*****With 0.0000 as P and Alpha being 0.05*****

Congrats Aplha was not breached, Your are right, Ha!!

### Two Sample T -test

T-test can also be used to compare characteristics of two independent samples. For this, we will use ttest_ind function from scipy.stats 

In our case we could compare characteristics of two different species of iris. Say, setosa and versicolor. (attention on new code part)

We could compare petal_length, sepal_length, petal_width or sepal_width.

In [182]:
# Importing the libraries
import pandas as pd
import seaborn as sns
from scipy.stats import ttest_ind as tind

# Loading the data
df = sns.load_dataset("iris")

In [183]:
# Separating two samples into different data frames
df1 = df[df.species == 'setosa']
df2 = df[df.species == 'versicolor']

In [184]:
# Comparing petal length of the two species
tind(df1.petal_length, df2.petal_length)

Ttest_indResult(statistic=-39.492719391538095, pvalue=5.404910513441677e-62)

In [185]:
# Compare petal width of the two species
tind(df1.petal_width, df2.petal_width)

Ttest_indResult(statistic=-34.08034154357719, pvalue=3.831095388248162e-56)

The paired t-test, also referred to as the paired-samples t-test or dependent t-test, is used to determine whether the mean of a dependent variable (e.g., weight, anxiety level, salary, reaction time, etc.) is the same across two different situations within the same sample (e.g., blood pressure before, and after the treatment, average grade in one course vs. average grade in another course for the same class).

In [207]:
# importing the libraries
import numpy as np
from statsmodels.stats.weightstats import DescrStatsW as smstat

# Let's create our dataset.
# Create numpy array with weights of our pacients before the treatment
before = np.array([82.0, 90.2, 92.7, 113, 101.4, 96.9, 72.2, 85.5, 105.2, 93.7])

# Create numpy array (called "after") with weights of the pacients after the treatment with following values 392.9, 393.2, 345.1, 393, 434, 427.9, 422, 383.9, 392.3, 352.2
after = np.array([80.9, 91.2, 85.1, 103, 102, 97.9, 72, 83.9, 92.3, 92.2])

# Notice that the order of the patients should be the same across two arrais.

# create the numpy array (called "difference") that would calculate the difference in weights between before and after treatment for each patient (by subtracting weights before treatment from those after the treatment)
difference = after - before

# Perform a two sided paired t-test between weights before and after
smstat(difference).ttest_mean(0)

# Test whether we have any statistical evidence that patients loose weight after treatment
smstat(difference).ttest_mean(0, alternative="smaller")

(-2.0281866477167547, 0.036574210314534394, 9.0)